<div class="my-cv-container">
  <div class="tabs-wrapper">
    <nav class="tabs">
      <a [routerLink]="['/my-cv', 'cvprofile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Profile</a>
      <a [routerLink]="['/my-cv', 'projects']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Projects</a>
      <a [routerLink]="['/my-cv', 'skills']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Skills</a>
      <a [routerLink]="['/my-cv', 'experiences']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Experiences</a>
      <a [routerLink]="['/my-cv', 'education']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Education</a>
      <a [routerLink]="['/my-cv', 'certifications']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Certifications</a>
      <a [routerLink]="['/my-cv', 'languages']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Languages</a>
      <a [routerLink]="['/my-cv', 'interests']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Interests</a>
      <a [routerLink]="['/my-cv', 'sociallinks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Social Links</a>
      <a [routerLink]="['/my-cv', 'academicactivities']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Academic</a>
      <a [routerLink]="['/my-cv', 'hackathons']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Hackathons</a>
    </nav>
  </div>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>