# Orchestrator
SERVICE_NAME=orchestrator
ORCHESTRATOR_URL=http://localhost:8000
JOB_EXTRACTOR_URL=http://localhost:8001
SEARCH_AGENT_URL=http://localhost:8002
TEMPLATE_AGENT_URL=http://localhost:8003
CV_OPTIMIZER_URL=http://localhost:8004
CONTACT_AGENT_URL=http://localhost:8005
BACKEND_BASE_URL=http://localhost:5000
GROQ_API_KEY=