ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=cv_db;Username=postgres;Password=postgres

KEYCLOAK_CLIENT_ID=cv-client
KEYCLOAK_AUTHORITY=http://keycloak:8080/realms/cv-realm
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_RESPONSE=code
KEYCLOAK_CALLBACK_PATH="/signin-oidc"
