# Search Agent
SERVICE_NAME=search-agent
SEARCH_AGENT_URL=http://localhost:8002
BACKEND_BASE_URL=http://localhost:5000
GROQ_API_KEY=
GOOGLE_API_KEY=
LLM_MODEL=gemini-1.5-flash
EMBEDDING_MODEL=models/embedding-001