# Job Extractor
SERVICE_NAME=job-extractor
JOB_EXTRACTOR_URL=http://localhost:8001
BACKEND_BASE_URL=http://cv-api-gateway:8080
GROQ_API_KEY=change-meff

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_GROUP_ID=job-extractor-group
