# LangChain — ordre important !
langchain-core==0.3.59
langchain==0.3.25
langchain-mistralai==0.2.8
langchain-postgres==0.0.17
langchain-text-splitters==0.3.8



# FastAPI
fastapi
uvicorn
python-multipart

# PostgreSQL
psycopg[binary]

# Utilitaires
python-dotenv
pydantic