<div class="tree-node">
  <div class="node-row" [class.selected]="selectedIds.has(node.id)" (click)="onSelect()">
    <button type="button" class="chev" *ngIf="hasChildren" [class.open]="expandedIds.has(node.id)" (click)="onExpand($event)">▸</button>
    <span class="chev-spacer" *ngIf="!hasChildren"></span>
    <span class="node-name">{{ node.name }}</span>
    <span class="count" *ngIf="node.count !== undefined && node.count > 0" [title]="node.count + ' item(s)'">{{ node.count }}</span>
  </div>
  <div class="children" *ngIf="hasChildren && expandedIds.has(node.id)">
    <app-category-tree-node
      *ngFor="let child of node.children"
      [node]="child"
      [selectedIds]="selectedIds"
      [expandedIds]="expandedIds"
      [mode]="mode"
      (selectionChange)="selectionChange.emit($event)"
      (expandChange)="expandChange.emit($event)"
    ></app-category-tree-node>
  </div>
</div>
