ConnectionStrings__DefaultConnection=Host=notification-db;Port=5432;Database=notification_db;Username=postgres;Password=postgres
Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__FromEmail=
Kafka__BootstrapServers=kafka:9092
Gmail__CallbackBaseUrl=http://cv-api-gateway:8080
GrpcClients__UserService=http://cv-user-service:18082
GrpcClients__ApplicationService=http://cv-application-service:18085
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_TOKEN_ENCRYPTION_KEY=
